h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

blockquote{font-family: 'Dancing Script', cursive;
}

#quote{
    color: rgb(73, 73, 69);
    background-color: rgba(0, 250, 250, .5);
    text-align: center;
    font-size: 30px;
}
.button{
    font-family: 'Open Sans Condensed', sans-serif; 
}
body{
    background-image: url(../img/img.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
footer {
    font-family: 'Open Sans Condensed', sans-serif;

}